<footer>
    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><i class="fas fa-angle-up"></i></a>
    <div class="container-fluid">
        <div class="d-flex flex-row justify-content-between">
            <div class="col-md-3 d-flex flex-column" id="ayuda">
                <h3>Productos</h3>
                <span>Vuelos</span>
                <span>Trenes</span>
                <span>Hoteles</span>
                <span>Viajes</span>
                <span>Trenes + Vuelo</span>
            </div>

            <div class="col-md-3 d-flex flex-column" id="informacion">
                    <h3>INFORMACIÓN</h3>
                    <a href="#">Quienes somos</a>
                    <a href="#">Preguntas frecuentes</a>
                    <a href="#">Politica de privacidad</a>
                    <a href="#">Condiciones generales</a>
                    <a href="#">Aviso legal</a>
                    <a href="#">Contacto</a>
                    <a href="#">Programa de puntos</a>
            </div>
            <div class="col-md-3 d-flex flex-column" id="newsletter">
                <h3>¿Tienes alguna duda? Contáctanos</h3>
                <span>0264 123 4567</span>
                <span>enquiry@geekshubtravels.com</span>
                <span>De lunes a viernes de 09:30 a 19:00</span>
                <span>Sábados de 10:00 a 14:00</span>
            </div>
        </div>

        <hr/>
        <div class="d-flex flex-column align-items-center">
                <h3>¡Síguenos!</h3>
            <div class="d-flex flex-row footer-redessociales">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
            <p>Copyright <i class="far fa-copyright"></i> Martin Danailov </p>
        </div>
    </div>
</footer>