<sectio>
    <div class="wrapper-paginaerror">
        <div class="container-fluid">
            <div class="d-flex flex-column align-items-center">
                <div class="col-6 columna-paginaerror d-flex flex-column">
                    <h1>¡Pagina Web no encontrada 404!</h1>
                    <p>Lo sentimos , no podemos encontrar su pagina.</p>
                    <a href="/" class="align-self-center"><button type="button" class="btn btn-primary boton-paginaerror">Volver al Inicio</button></a>
                </div>
            </div>
        </div>
    </div>
</sectio>