<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Travel Agency</title>
      <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="/jbox/Source/jBox.css">
      <link rel="stylesheet" href="/jbox/Source/themes/TooltipDark.css">
      <link rel="stylesheet" href="/stylesheets/style.css">
      <link rel="stylesheet" href="/stylesheets/login.css">
      <link rel="stylesheet" href="/stylesheets/register.css">
      <link rel="stylesheet" href="/stylesheets/adminpanel.css">
      <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&amp;p6vwdt" media="all" />
      <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&amp;p6vwdt" media="all" />
  </head>
  <body>
    {{>menu}}
    {{{body}}}
    {{>footer}}
    <script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/jbox/Source/jBox.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script type="text/javascript" src="/javascripts/register.js"></script>
    <script type="text/javascript" src="/javascripts/login.js"></script>
    <script type="text/javascript" src="/javascripts/adminpanel.js"></script>

  </body>
</html>
