/* INICIARSESION - INICIO */
.wrapper-iniciarsesion{
    min-height: 30em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #F5F5F5;
}
.formulario-iniciarsesion{
    background-color: #FFFFFF;
}
.formulario-cabecera-iniciarsesion,.formulario-contenido-iniciarsesion{
    padding: 3%;
}
.formulario-cabecera-iniciarsesion .fa-user,.formulario-cabecera-iniciarsesion span{
    color:#1cbbb4;
}
.formulario-cabecera-iniciarsesion span{
    font-family: 'Roboto Condensed',"Microsoft YaHei",Arial,sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.formulario-cabecera-iniciarsesion p{
    font-family: 'Roboto Condensed',"Microsoft YaHei",Arial,sans-serif;
    font-size: 14px;
}
.formulario-contenido-iniciarsesion label{
    font-family: 'Roboto Condensed',"Microsoft YaHei",Arial,sans-serif;
    font-size: 16px;
    color: #3F4048 !important;
}
.formulario-contenido-iniciarsesion input[type=text],.formulario-contenido-iniciarsesion input[type=password]{
    box-shadow: inset 2px 2px 2px #F5F5F5;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid #BCBEC0;
}

.formulario-contenido-iniciarsesion input[type=text]:focus, .formulario-contenido-iniciarsesion input[type=password]:focus{
    outline: none;
}
.formulario-contenido-iniciarsesion input[type=text]::placeholder, .formulario-contenido-iniciarsesion input[type=password]::placeholder{
    font-family: 'Roboto Condensed',"Microsoft YaHei",Arial,sans-serif;
    color: #BCBEC0;
    font-style: italic;
}

.boton-iniciarsesion-login{
    font-family: 'Roboto Condensed',"Microsoft YaHei",Arial,sans-serif;
    color: #FFFFFF;
    min-width: 10em !important;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #1cbbb4;
    border: transparent;
    transition: background-color 0.5s;
}

.boton-iniciarsesion-login:hover{
    background-color: #1aaaa1 !important;
}

.formulario-contenido-iniciarsesion .contrasenya-olvidada{
    font-family: 'Roboto Condensed',"Microsoft YaHei",Arial,sans-serif;
    text-decoration: none;
}

.puede-iniciarsesion{
    background-color: #FFFFFF;
    padding: 3%;
}
.puede-iniciarsesion span{
    color:#1cbbb4;
    font-family: 'Roboto Condensed',"Microsoft YaHei",Arial,sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.puede-iniciarsesion .texto{
    font-family: 'Roboto Condensed',"Microsoft YaHei",Arial,sans-serif;
}
/* INICIARSESION - FIN */
